In [1]:
"""@Author: Abhilash Meher
 @Date: 16-11-2022 7:25PM @Last Modified by: Abhilash Meher
  @Last Modified time: 17-11-2022 01:00PM @Title : Pandas Problems
"""

'@Author: Abhilash Meher\n @Date: 16-11-2022 7:25PM @Last Modified by: Abhilash Meher\n  @Last Modified time: 17-11-2022 01:00PM @Title : Pandas Problems\n'

In [9]:
import numpy as np
import pandas as pd

1. Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [2]:
import pandas as pd
num_list = [44, 22, 33]
data_series = pd.Series(num_list)
print("One-Dimensional array like object to data series : ")
print(data_series)

One-Dimensional array like object to data series :
0    44
1    22
2    33
dtype: int64

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [5]:
data_series = pd.Series((10,20,30,40,50,60))
print("Panda data series : ")
print(data_series)
print("Data series to list : ")
list_ele = data_series.tolist()
print(list_ele)
print(f"Type : {type(list_ele)}")

Panda data series :
0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64
Data series to list :
[10, 20, 30, 40, 50, 60]
Type : <class 'list'>

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [6]:
ds_1 = pd.Series([2, 4, 6, 8, 10])
ds_2 = pd.Series([1, 3, 5, 7, 9])

print("Addition : ")
ds_add = ds_1.add(ds_2)
print(ds_add)
print("Substraction : ")
ds_sub = ds_1.subtract(ds_2)
print(ds_sub)
print("Multiplication : ")
ds_mul = ds_1.multiply(ds_2)
print(ds_mul)
print("Division: ")
ds_div = ds_1.divide(ds_2)
print(ds_div)

Addition :
0     3
1     7
2    11
3    15
4    19
dtype: int64
Substraction :
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication :
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array.

In [7]:
ds = pd.Series([0, 1, 2, 3, 4, 5, 6])
print("Original Array : ")
ds = ds.pow(3)
print("Power of 3 of an array values element - wise : ")
print(ds)

Original Array :
Power of 3 of an array values element - wise :
0      0
1      1
2      8
3     27
4     64
5    125
6    216
dtype: int64

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.

In [10]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data_frame = pd.DataFrame(exam_data ,index= labels)
print("DataFrame of given dictionary : \n")
print(data_frame)

DataFrame of given dictionary :

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.

In [11]:
print("\nsummary of the basic information about a specified Data Frame and its data : \n")
print(data_frame.info())
print("\nAll information about python property : \n ")
print(data_frame.describe())

summary of the basic information about a specified Data Frame and its data :

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

All information about maths property :

           score   attempts
count   8.000000  10.000000
mean   13.562500   1.900000
std     4.693746   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    13.500000   2.000000
75%    17.125000   2.750000
max    20.000000   3.000000

7. Write a Python program to get the first 3 rows of a given DataFrame.

In [13]:
print("Whole Data Frame :\n ")
print(data_frame)
print("\n\nOnly first three rows of data frame : \n")
print(data_frame.head(3))

Whole Data Frame :

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


Only first three rows of data frame :

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

8. Write a Python program to select the 'name' and 'score' columns from the following
DataFrame.

In [14]:
print("\nData Frame with only first two column : ")
data_frame[['name','score']]
print(data_frame[['name','score']])

Data Frame with only first two column :
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

9. Write a Python program to select the specified columns and rows from a given data
frame.Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [15]:
print("\nData Frame with 'name' and 'score' columns in rows 1, 3, 5, 6 : \n")
print(data_frame.loc[['a','c','e','f'] , ['name','score']])

Data Frame with 'name' and 'score' columns in rows 1, 3, 5, 6 :

        name  score
a  Anastasia   12.5
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0

10. Write a Python program to select the rows where the number of attempts in the
examination is greater than 2.

In [16]:
print(data_frame)
print("\nData Frame where the number of attempts in the examination is greater than 2 :  ")
data_frame[(data_frame['attempts'] > 2)]

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Data Frame where the number of attempts in the examination is greater than 2 :

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

11. Write a Python program to count the number of rows and columns of a DataFrame.

In [23]:
no_of_rows = len(data_frame)
no_of_column = len(data_frame.columns)
print("Number of rows : ")
print(no_of_rows)
print("Number of columns : ")
print(no_of_column)
print("Total size of Data Frame : ")
print(data_frame.size)
print(data_frame.shape)

Number of rows :
10
Number of columns :
4
Total size of Data Frame :
40
(10, 4)

12. Write a Python program to select the rows where the score is missing, i.e. is NaN

In [19]:
print("\nData Frame with rows where the score is missing, i.e. is NaN : ")
data_frame[(data_frame['score'].isnull())]

Data Frame with rows where the score is missing, i.e. is NaN :

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

13. Write a Python program to select the rows where number of attempts in the
examination is less than 2 and score greater than 15.

In [20]:
print("\nwhere number of attempts in the examination is less than 2 and score greater than 15 : ")
data_frame.loc[(data_frame['attempts'] < 2) & (data_frame['score'] > 15)]

where number of attempts in the examination is less than 2 and score greater than 15 :

    name  score  attempts qualify
j  Jonas   19.0         1     yes

14. Write a Python program to change the score in row 'd' to 11.5.

In [21]:
print("\nOriginal DataFrame")
print(data_frame)
print("\nAfter modifying the score in row 'd' to 11.5 : ")
data_frame.loc['d', 'score'] = 11.5
print(data_frame)

Original DataFrame
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

After modifying the score in row 'd' to 11.5 :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

15. Write a Python program to calculate the sum of the examination attempts by the
students.

In [22]:
print("Attempts Column : ")
print(data_frame.loc[:,'attempts'])
print("Sum of the examination attempts by the students")
print(data_frame['attempts'].sum())

Attempts Column :
a    1
b    3
c    2
d    3
e    2
f    3
g    1
h    1
i    2
j    1
Name: attempts, dtype: int64
Sum of the examination attempts by the students
19

16. Write a Python program to calculate the mean score for each different student in
DataFrame.

In [24]:
print("\nMean score for each different student in DataFrame : ")
print(data_frame.loc[:,'score'])
print(data_frame['score'].mean())

Mean score for each different student in DataFrame :
a    12.5
b     9.0
c    16.5
d    11.5
e     9.0
f    20.0
g    14.5
h     NaN
i     8.0
j    19.0
Name: score, dtype: float64
13.333333333333334

17. Write a Python program to append a new row 'k' to data frame with given values for
each column. Now delete the new row and return the original DataFrame

In [25]:
print("\nAfter append one new row : ")
label = ['k']
data_frame.loc['k'] = ["Suresh",15.5, 1,"yes"]
print(data_frame)
print("\nAfter Dropping newly added row 'k' : ")
data_frame = data_frame.drop('k')
print(data_frame)

After append one new row :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

After Dropping newly added row 'k' :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

18. Write a Python program to sort the DataFrame first by 'name' in descending order,
then by 'score' in ascending order.

In [26]:
print("\nSorting 'name' column in descending order : ")
new_df = data_frame.sort_values(['name'], axis=0, ascending=False)
print(new_df)
print("\nSorting 'name' column in descending order : ")
new_df = data_frame.sort_values(['score'], axis=0, ascending=True)
print(new_df)

Sorting 'name' column in descending order :
        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

Sorting 'name' column in descending order :
        name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James   11.5         3      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
h      Laura    NaN         1      no

19. Write a Python program to replace the 'qualify' column contains the values 'yes' and
'no' with True and False.

In [27]:
print("Original Data Frame : ")
print(data_frame)
df = data_frame.copy()
print("\nreplace the 'qualify' column contains the values 'yes' and 'no' with True and False : ")
df.loc[df['qualify'] == 'yes', 'qualify'] = True
df.loc[df['qualify'] == 'no', 'qualify'] = False
print(df)

Original Data Frame :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

replace the 'qualify' column contains the values 'yes' and 'no' with True and False :
        name  score  attempts qualify
a  Anastasia   12.5         1    True
b       Dima    9.0         3   False
c  Katherine   16.5         2    True
d      James   11.5         3   False
e      Emily    9.0         2   False
f    Michael   20.0         3    True
g    Matthew   14.5         1    True
h      Laura    NaN         1   False
i      Kevin    8.0         2   False
j      Jonas   19.0         1    True

20. Write a Python program to delete the 'attempts' column from the DataFrame.

In [28]:
df = data_frame.copy()
print("Original Data Frame : ")
print(df)
print("\nAfter dropping 'attempts' column : ")
df.drop(['attempts'] ,axis=1)

Original Data Frame :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

After dropping 'attempts' column :

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James   11.5      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

21. Write a Python program to insert a new column in existing DataFrame.

In [29]:
df = data_frame.copy()
print("Original Data Frame : ")
print(df)
print("\nAfter insering one new column 'age' : \n")
age = [21,23,21,22,24,25,28,27,26,23]
df['age'] = age
print(df)

Original Data Frame :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

After insering one new column 'age' :

        name  score  attempts qualify  age
a  Anastasia   12.5         1     yes   21
b       Dima    9.0         3      no   23
c  Katherine   16.5         2     yes   21
d      James   11.5         3      no   22
e      Emily    9.0         2      no   24
f    Michael   20.0         3     yes   25
g    Matthew   14.5         1     yes   28
h      Laura    NaN         1      no   27
i      Kevin    8.0         2      no   26
j      Jonas   19.0         1     yes   23

22. Write a Python program to iterate over rows in a DataFrame.

In [30]:
print("Original Data Frame : ")
print(data_frame)
print("\nIterating over rows : ")
for i in range(len(data_frame)) :
  print(data_frame.iloc[i, 0], data_frame.iloc[i, 1], data_frame.iloc[i, 2], data_frame.iloc[i, 3])
print("\n")
for i in data_frame.index:
     print(df['name'][i], df['score'][i])

Original Data Frame :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Iterating over rows :
Anastasia 12.5 1 yes
Dima 9.0 3 no
Katherine 16.5 2 yes
James 11.5 3 no
Emily 9.0 2 no
Michael 20.0 3 yes
Matthew 14.5 1 yes
Laura nan 1 no
Kevin 8.0 2 no
Jonas 19.0 1 yes


Anastasia 12.5
Dima 9.0
Katherine 16.5
James 11.5
Emily 9.0
Michael 20.0
Matthew 14.5
Laura nan
Kevin 8.0
Jonas 19.0

23. Write a Python program to get list from DataFrame column headers.

In [31]:
print("Data Frame : ")
print(data_frame)
print("List of column headers : ")
print(data_frame.columns.values.tolist())

Data Frame :
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
List of column headers :
['name', 'score', 'attempts', 'qualify']